:root {
  --bg-clr: #00000049;
  --text-black: #000000;
  --text-gr-clr: #ffffff;
  --bg-blue: rgba(8, 9, 46, 0.322);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  background: url(./home-new-bg-free-img.jpg) fixed;
  object-fit: cover;
  object-position: center;
  overflow-x: hidden;
}
.container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
}

.page {
  background-color: var(--bg-blue);
  backdrop-filter: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}
header {
  background-color: var(--bg-clr);
  display: flex;
  align-items: center;
  max-height: 150px;
  height: max-content;
  padding: 20px 20px;
  width: 100%;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  font-size: 0.98rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: bold;
}
.link .logo img {
  width: 130px;
}
.link .contact {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
   font-size: 0.9rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: bold;
}
.links .section {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
a {
    text-decoration: none;
  color: var(--text-gr-clr);
  text-transform: uppercase;
}
.link a {
  text-decoration: none;
  color: var(--text-gr-clr);
  text-transform: uppercase;
}
.link a:hover {
  color: var(--text-black);
  transition: all 0.1s ease-in-out;
}
.main {
  max-width: 100%;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 50%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: var(--text-gr-clr);
    margin: 80px 50px;
    gap: 50px;
}
.hero h1 {
    font-size: 4.1rem;
}
.hero h4 {
   font-size: 1.8rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 500;
}
.hero_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 0.9rem;
}
.hero_btn a:first-child{
padding: 15px 25px;
background-color: var(--text-gr-clr);
color: var(--text-black);
font-weight: 500;
}
.hero_btn a:last-child{
padding: 15px 25px;
background-color: transparent;
color: var(--text-gr-clr);
font-weight: 500;
border: 1px solid var(--text-gr-clr) ;
}
.hero_btn a:first-child:hover {
  background-color: var(--text-black);
  color: var(--text-gr-clr);
  transition: all 0.3s ease-in-out;
}
.hero_btn a:last-child:hover {
  background-color: var(--text-gr-clr);
  color: var(--text-black);
  transition: all 0.3s ease-in-out;
}
.promo_page {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--text-gr-clr);
}
.logos_promo {
  display: flex;
  max-width: 90%;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
  margin: auto;
  gap: 70px;

}
.off_promos {
  max-width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
  gap: 20px;
  margin-top: 60px;
  height: max-content;
  background-color: var(--text-gr-clr);
}
.off_promos div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px;
 max-width: 30%;
 background-color: rgb(19,161,202);
 height: max-content;
 overflow: hidden;

}
.off_promos div:nth-child(1) img {
  max-height: 450px;
  max-width: 400px;
  width: 350px;
}
.off_promos div:nth-child(1) img:hover {
  max-height: 405px;
  transition: all ease-in-out 0.3s;
}
.off_promos div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
    gap: 20px;
  padding: 20px;
 max-width: 30%;
  background-color: rgb(19,161,202);
 height: max-content;
 overflow: hidden;
}
.off_promos div:nth-child(2) img {
  max-height: 450px;
  max-width: 400px;
  width: 350px;
}
.off_promos div:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
    gap: 20px;
  padding: 20px;
 max-width: 30%;
  background-color: rgb(19,161,202);
 height: max-content;
 overflow: hidden;
}
.off_promos div:nth-child(3) img {
  max-height: 450px;
  max-width: 400px;
  width: 350px;
}
.off_promos div:nth-child(1) a{
padding: 15px 25px;
background-color: var(--text-gr-clr);
color: var(--text-black);
font-weight: 500;
border-radius: 3px;
}
.off_promos div:nth-child(2) a{
padding: 15px 25px;
background-color: var(--text-gr-clr);
color: var(--text-black);
font-weight: 500;
border-radius: 3px;
}
.off_promos div:nth-child(3) a{
padding: 15px 25px;
background-color: var(--text-gr-clr);
color: var(--text-black);
font-weight: 500;
border-radius: 3px;
} 
.off_promos div:nth-child(2) a:hover {
  background-color: var(--text-black);
  color: var(--text-gr-clr);
  transition: all 0.3s ease-in-out;
}
.off_promos div:nth-child(1) a:hover {
 background-color: var(--text-black);
  color: var(--text-gr-clr);
  transition: all 0.3s ease-in-out;
} 
